body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  border: 2px solid #a3b1c6;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.btn-add-coin {
  background-color: #7b8de6;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.coins-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px 25px 25px;
}

.card {
  background-color: #f9fbfd;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.card-number {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color:#7b8de6;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
}

.card-value {
  font-size: 1.5em;
  font-weight: bold;
  color: #2b395d;
}

.card-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.btn-modifier {
  background-color: #7b8de6;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.btn-delete {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  /* Ajoutez une icône de corbeille ici, par exemple avec un background-image ou un SVG */
}

/* Media Query pour la responsivité */
@media (max-width: 768px) {
  .coins-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .coins-grid {
    grid-template-columns: 1fr;
  }

  .container {
    border-radius: 0;
    border: none;
  }
}
