<div class="container">
  <h1>Gestion des Badges</h1>

  <button class="add-button" (click)="addBadge()">Ajouter un Badge</button>

  <div class="badge-list">
    <div class="badge-card" *ngFor="let badge of badges">
      <img src="assets/badges1.jpeg" [alt]="badge.nom" />
      <div class="card-content">
        <h2>{{badge.nom}}</h2>
        <p>{{badge.description}}</p>
        <div class="badge-number">{{badge.nombre}}</div>
        <div id="btn">
            <button class="modify-button">Modifier</button>
            <button class="delete-button">Supprimer</button>
        </div>
      </div>
    </div>

   
  </div>

  <!-- Affichage conditionnel du popup -->
  <app-badges-popup
  *ngIf="showPopup"
  (closed)="closePopup()"
  (submitted)="onBadgeSubmitted($event)">
</app-badges-popup>

</div>
