<div class="top-bar">
  <div class="tabs">
    <button
      class="tab"
      [class.active]="activeTab === 'contribution'"
      (click)="switchTab('contribution')">
      Contribution
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'features'"
      (click)="switchTab('features')">
      Fonctionnalités
    </button>

    <button routerLink="/ProjetsRejoints">
      Retour
    </button>
  </div>
</div>

<div class="content">
  <div class="add-container">
    <button class="btn-ajouter" (click)="addNew()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>

  <!-- Contributions dynamiques -->
  <div class="card-container" *ngIf="activeTab === 'contribution'">
    <div class="card" *ngFor="let item of contributions">
      <div class="card-header">
        <div class="icon-circle">
          <i class="fa {{item.icon}}"></i>
        </div>
        <div class="card-title">{{item.title}}</div>
        <div class="card-date">
          <i class="fa fa-calendar"></i> {{item.date | date:'short'}}
        </div>
      </div>

      <div class="card-body">

        <p><strong>Description :</strong> {{item.description}}</p>
        

        <div class="card-status">
          <span class="status"
                [ngClass]="{
                  'en_cours': item.statutC === 'EN_COURS',
                  'termine': item.statutC === 'TERMINE',
                  'attente': item.statutC === 'EN_ATTENTE'}">
                  <strong>Statut :</strong>
                 {{ item.statusText }}
          </span>
        </div>
      </div>

      <div class="card-footer">
        <a class="details-link" (click)="openContributionDetails(item)">
          Voir détails
        </a>
      </div>
    </div>
  </div>

  <!-- Fonctionnalités statiques -->
  <div *ngIf="activeTab === 'features'" class="fonctionnalites-table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fonctionnalités</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Page d'accueil responsive</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Formulaire de connexion</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Système de notifications</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
