<div class="container">

  <div class="header-buttons">
    <button class="btn-projets-rejoints" routerLink="/ProjetsRejoints">Projets Rejoints</button>
    <h1>Mes Projets Proprietaires</h1>
  </div>

  <table class="data-table" *ngIf="projets.length > 0; else noProjects">
    <thead>
      <tr>
        <th>N</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Date de création</th>
        <th>Voir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of projets">
        <td>{{ projet.idProjet }}</td>
        <td>{{ projet.titre }}</td>
        <td>{{ projet.description }}</td>
        <td>{{ projet.dateCreation }}</td>
        <td>
          <button class="detail-btn" (click)="ouvrirDashboard(projet)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noProjects>
    <p>Aucun projet trouvé.</p>
  </ng-template>

  <!-- Dashboard -->
  <div *ngIf="projetSelectionne">
    <app-dashboard-gestionnaire
      *ngIf="dashboardOuvert"
      (fermer)="fermerDashboard()">
    </app-dashboard-gestionnaire>
  </div>
</div>
